@charset "utf-8";
@import "public";
/*忘记密码样式*/
.tipsBox{
	text-align:center;
	padding-top:2rem;
	p{
		font-size: 1.2rem;
	}
}

.phoneNum{
	text-align:center;
	margin-top:1rem;
	span{
		font-size: 1.6rem;
		font-weight: bold;
	}
}
.codeBox{
	text-align:center;
	margin-top:1rem;
	
	input{
		margin-right:1.5rem;
		height: 2rem;
		padding: 0 0.5rem;
		font-size: 1.6rem;
		box-sizing:border-box;
		outline: none;
		width:10rem;
	}
	i{
		display: inline-block;
		border-radius:0.5rem;
		background:#666;
		padding:0.5rem;
		font-size: 1.6rem;

	}
}
.btnBox{
	margin-top:3rem;
	padding:0.5rem 1.5rem;
	button{

	}
}
.ungetTips{
	margin-top:1rem;
	padding:0.5rem 1.5rem;
	text-align:right;
	a{

	}
}