@charset "utf-8";

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-style: normal;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing:border-box;
}
html,body{
	height: 100%;
	width: 100%;
}
/*浮动*/
.left{
	float:left;
}
.right{
	float:right;
}
/*清除浮动*/
.clear:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/*我的卡*/
.cardBox{
	padding:0 0.3rem;
	padding-top:0.34rem;
	.listBox{
		width:100%;
		
		height:3.28rem;
		position:relative;
		.index{
			z-index:3;
		}
		.list{
			width:5.8rem;
			height:3.28rem;
			margin:0 auto;
			background-image:url(../images/myCard/mcard06.png);
			background-repeat:no-repeat;
			background-size:100% 100%;
			background-position:center;
			position:absolute;
			top: 0;
			left:0;
			.cardNum{
				position:absolute;
				top:1.34rem;
				left:0.44rem;
				color:#ffffff;
				font-size: 48px;
				font-weight: bold;
			}
			.bill{
				position:absolute;
				top:2.02rem;
				right:0.4rem;
				font-size: 28px;
				line-height: 0.3rem;
				color:#ffffff;
				display: inline-block;
				vertical-align: middle;
			}
			.ycBill{
				color:#ea5920;
				i{
					background-image:url(../images/public/jt2.png);
				}
			}
			.stateIcon{
				display:inline-block;
				width:0.73rem;
				height:0.71rem;
				background-repeat:no-repeat;
				background-size:100% 100%;
				background-position:center;
				position:absolute;
				top:0.2rem;
				right:0;
			}
			.mainState{
				background-image:url(../images/public/mr.png);
			}
			.lossState{
				background-image:url(../images/public/gs.png);
			}
			.unusualState{
				background-image:url(../images/public/yc.png);
			}
			.asMain{
				display: none;
				width:1.2rem;
				height:0.44rem;
				color:#ffffff;
				border-radius:0.18rem;
				border:0.01rem solid #ffffff;
				font-size: 22px;
				text-align: center;
				line-height: 0.44rem;
				position:absolute;
				top:2.02rem;
				left:0.44rem;
			}
			.asMainOn{
				display: inline-block;
			}
		}
		.oneList{
			background-image:url(../images/myCard/ncard01.png);
		}
		.normalCard1{
			background-image:url(../images/myCard/mcard06.png);
		}
		.normalCard2{
			background-image:url(../images/myCard/mcard02.png);
		}
		.normalCard3{
			background-image:url(../images/myCard/mcard03.png);
		}
		.gsCard{
			background-image:url(../images/myCard/mcard04.png);
		}
		.ycCard{
			background-image:url(../images/myCard/mcard05.png);
		}
	}
}

/*提示*/
.nav{
	
	.navlist{
		display:flex;
		justify-content:center;
		li{
			border-radius:0.02rem;
			width:0.3rem;
			height:0.06rem;
			background:#efefef;
			margin:0 0.04rem;
		}
		.on{
			background:#cacaca;
		}
	}
	
}

/*账户信息*/
.balanceBox{
	display:flex;
	padding:0.76rem 0.3rem 0;
	height:1.7rem;
	.acc_balance{
		flex:1;
		display:flex;
		flex-direction:column;
		//border-bottom:0.01rem solid #d1d1d1;
		i{
			font-size:22px;
			color:#878787;
			line-height:40px;
		}
		span{
			font-size:32px;
			font-weight:bold;
			line-height:50px;
			color:#333333;
		}
	}
	.ele_balance{
		flex:1;
		display:flex;
		flex-direction:column;
		//border-bottom:0.01rem solid #d1d1d1;
		i{
			font-size:22px;
			line-height:40px;
			color:#878787;
		}
		span{
			font-size:32px;
			font-weight:bold;
			color:#333333;
			line-height:50px;
		}
	}
	.recharge_btn{
		flex:1;
		//border-bottom:0.01rem solid #d1d1d1;
		position:relative;
		.btn{
			width:1.4rem;
			height:0.56rem;
			border-radius:0.24rem;
			font-size:28px;
			background:#ffffff;
			position:absolute;
			top:50%;
			right:0;
			margin-top:-0.28rem;
			outline:none;
		}
		.btnOn{
			border:0.01rem solid #ea5920;
			color:#ea5920;
		}
		.btnOn:active{
			background:#ea5920;
			color:#ffffff;
		}
		.ycBtn{
			border:0.01rem solid #d3d3d3;
			color:#878787;
		}

	}
}
/*相关操作*/
.operBox{
	padding:0 0.3rem;
	.operation{
		li{
			font-size:28px;
			height:1rem;
			line-height:1rem;
			border-bottom:0.01rem solid #d1d1d1;
			position:relative;
			i{
				width:0.3rem;
				height:0.3rem;
				display:inline-block;
				background-image:url(../images/public/jt3.png);
				background-repeat:no-repeat;
				background-size:100% 100%;
				background-position:center;
				position:absolute;
				top:50%;
				right:0;
				margin-top:-0.15rem;
			}
		}
		li:active{
			background:#ea5920;
		}
		.unbind{
			border-top:0.01rem solid #d1d1d1;
			margin-top:0.1rem;
		}
		.operOff{
			display: none;
		}
	}
}
/*提示*/
.gsTips{
	margin-top:0.94rem;
	text-align:center;
	display:none;
	.tips{
		font-size: 24px;
		color: #666666;
		i{
			display: inline-block;
			width:0.3rem;
			height:0.3rem;
			background-image:url(../images/public/jg.png);
			background-repeat:no-repeat;
			background-size:100% 100%;
			background-position:center;
			vertical-align: middle;
			margin-right:0.1rem;
		}
		span{
			color:#ea5920;
			text-decoration: underline;
		}
	}
}
.gsTipsOn{
	display:block;
}

/*弹框*/
.alertBox{
	position:absolute;
	top:0;
	left:0;
	padding:0.4rem;
	z-index:999;
	width:100%;
	height:100%;
	background:rgba(51,51,51,0.5);
	display:none;
	.alert{
		height:2.4rem;
		width:5.6rem;
		position:absolute;
		top:50%;
		margin-top:-1.7rem;
		left:50%;
		margin-left:-2.8rem;
		.alertTips{
			width:5.6rem;
			height:1.56rem;
			background:#ffffff;
			padding:0 0.4rem;
			border-bottom:0.01rem solid #d1d1d1;
			border-radius:0.1rem 0.1rem 0 0;
			display: flex;
			justify-content: center;
			align-items:center;
			p{
				font-size:24px;
				color:#333333;
				line-height:0.4rem;
			}
		}
		.alertBtn{
			width:5.6rem;
			height:0.82rem;
			display: flex;
			background:#ffffff;
			text-align: center;
			border-radius:0 0 0.1rem 0.1rem;
			span{
				flex:1;
				font-size:28px;
				color:#ea5920;
				line-height: 0.82rem;
				border-right:0.01rem solid #d1d1d1;
			}
			i{
				flex:1;
				line-height: 0.82rem;
				font-size:28px;
				color:#ea5920;
			}
		}
	}
	
}
.alertBoxOn{
	display:block;
}

/*绑卡*/
.bindBox{
	width:100%;
	height:0.84rem;
	position:absolute;
	left:0;
	bottom:0;
	.bind{
		text-align:center;
		height:100%;
		position:relative;
		i{
			display:inline-block;
			width:2.61rem;
			height:0.84rem;
			background-image:url(../images/myCard/bcard01.png);
			background-repeat:no-repeat;
			background-size:100% 100%;
			background-position:center;
			position:absolute;
			left:50%;
			bottom:0;
			margin-left:-1.3rem;
			&:active{
				background-image:url(../images/myCard/bcard02.png);
			}
		}
	}
}