@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

/*浮动*/
.left {
  float: left;
}

.right {
  float: right;
}

/*清除浮动*/
.clear:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/*我的卡*/
.cardBox {
  padding: 0 0.3rem;
  padding-top: 0.34rem;
}
.cardBox .listBox {
  width: 100%;
  height: 3.28rem;
  position: relative;
}
.cardBox .listBox .index {
  z-index: 3;
}
.cardBox .listBox .list {
  width: 5.8rem;
  height: 3.28rem;
  margin: 0 auto;
  background-image: url(../images/myCard/mcard01.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.cardBox .listBox .list .cardNum {
  position: absolute;
  top: 1.34rem;
  left: 0.44rem;
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
}
.cardBox .listBox .list .bill {
  position: absolute;
  top: 2.02rem;
  right: 0.4rem;
  font-size: 28px;
  line-height: 0.3rem;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}
.cardBox .listBox .list .bill i {
  display: inline-block;
  background-image: url(../images/public/jt2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 0.3rem;
  height: 0.3rem;
  transform: rotate(270deg);
  vertical-align: middle;
}

/*提示*/
.nav .navlist {
  display: flex;
  justify-content: center;
}
.nav .navlist li {
  border-radius: 0.02rem;
  width: 0.3rem;
  height: 0.06rem;
  background: #efefef;
  margin: 0 0.04rem;
}
.nav .navlist .on {
  background: #cacaca;
}

/*账户信息*/
.balanceBox {
  display: flex;
  padding: 0.76rem 0.3rem 0;
  height: 1.7rem;
}
.balanceBox .acc_balance {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 0.01rem solid #d1d1d1;
}
.balanceBox .acc_balance i {
  font-size: 22px;
  color: #878787;
  line-height: 40px;
}
.balanceBox .acc_balance span {
  font-size: 32px;
  font-weight: bold;
  line-height: 50px;
  color: #333333;
}
.balanceBox .ele_balance {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 0.01rem solid #d1d1d1;
}
.balanceBox .ele_balance i {
  font-size: 22px;
  line-height: 40px;
  color: #878787;
}
.balanceBox .ele_balance span {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  line-height: 50px;
}
.balanceBox .recharge_btn {
  flex: 1;
  border-bottom: 0.01rem solid #d1d1d1;
  position: relative;
}
.balanceBox .recharge_btn .btn {
  width: 1.4rem;
  height: 0.56rem;
  border-radius: 0.24rem;
  border: 0.01rem solid #ea5920;
  color: #ea5920;
  font-size: 28px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.28rem;
  outline: none;
}
.balanceBox .recharge_btn .btnOn {
  background: #ea5920;
  color: #ffffff;
}

/*相关操作*/
.operBox {
  padding: 0 0.3rem;
}
.operBox .operation li {
  font-size: 28px;
  height: 1rem;
  line-height: 1rem;
  border-bottom: 0.01rem solid #d1d1d1;
  position: relative;
}
.operBox .operation li i {
  width: 0.3rem;
  height: 0.3rem;
  display: inline-block;
  background-image: url(../images/public/jt3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.15rem;
}

/*绑卡*/
.bindBox {
  width: 100%;
  height: 0.84rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.bindBox .bind {
  text-align: center;
  height: 100%;
  position: relative;
}
.bindBox .bind i {
  display: inline-block;
  width: 2.61rem;
  height: 0.84rem;
  background-image: url(../images/myCard/bcard01.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -1.3rem;
}
.bindBox .bind i:active {
  background-image: url(../images/myCard/bcard02.png);
}

/*# sourceMappingURL=myCard.css.map */
