@charset "utf-8";
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-style: normal;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing:border-box;
}
html,body{
	height: 100%;
	width: 100%;
}
/*浮动*/
.left{
	float:left;
}
.right{
	float:right;
}
/*清除浮动*/
.clear:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/*密码 样式*/
.tipsBox{
	padding-top:1.16rem;
	text-align:center;
	font-size:28px;
	color:#333333;
	.cardTips{
		
	}
	.pTips{

	}
}

.pwdBox{
	text-align:center;
	padding-top:5%;
	.listBox{
		text-align: center;
		.box{
			display: inline-block;
			width:0.18rem;
			height:0.18rem;
			border:0.01rem solid #999999;
			background:#ffffff;
			margin-right:0.3rem;
			border-radius:50%;
			.keyOn{
				border:0.01rem solid #000000;
				background:#000000;
			}
		}
	}
}

.pwdTips{
	text-align:center;
	padding-top:5%;
	display:none;
	i{
		display: inline-block;
		width:0.14rem;
		height:0.14rem;
		background:#666;
		font-size: 0.14rem;
		line-height: 0.14rem;
		border-radius:50%;
		color:#fff;
		margin-right:0.05rem;
		vertical-align: middle;
	}
	span{
		font-size: 0.12rem;
	}
}
.pwdTipsOn{
	display:block;
}

.pwdBtn{
	display:none;
	padding:0.1rem 15%;
	margin-top:5%;
}
.pwdBtnOn{
	display:block;
}

.unknowTips{
	display:none;
	text-align:right;
	color:blue;
	padding:0.1rem 15%;
}
.unknowTipsOn{
	display:block;
}

.keyBox{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	display:flex;
	flex-wrap:wrap;
	.key{
		width:33.3%;
		padding:0.1rem;
		border:0;
		box-sizing:border-box;
		border-left:0.01rem solid #777;
		border-bottom:0.01rem solid #777;
		outline: none;
		&:nth-child(3n-2){
			border-left:0;
		}
		&:nth-child(10){
			border-bottom:0;
		}
		&:nth-child(11){
			border-bottom:0;
		}
		&:nth-child(12){
			border-bottom:0;
		}
		&:active{
			background:#999;
		}
	}
	
}