@charset "utf-8";
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-style: normal;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing:border-box;
}
html,body{
	height: 100%;
	width: 100%;
}
/*浮动*/
.left{
	float:left;
}
.right{
	float:right;
}
/*清除浮动*/
.clear:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/*密码 样式*/
.tipsBox{
	padding-top:1.16rem;
	text-align:center;
	font-size:28px;
	color:#333333;
	.cardTips{
		font-weight: bold;
		font-size: 28px;
	}
	.pTips{
		font-weight: bold;
		font-size: 28px;
	}
}

.pwdBox{
	margin-top:0.7rem;
	.listBox{
		text-align: center;
		width:2.6rem;
		margin:0 auto;
		.box{
			display: inline-block;
			width:0.18rem;
			height:0.18rem;
			border:0.01rem solid #999999;
			background:#ffffff;
			border-radius:50%;
		    float: left;
		    margin-right:0.3rem;
		    &:last-child{
		    	margin-right: 0;
		    }	
		}
		.keyOn{
			border:0.01rem solid #000000;
			background:#000000;
		}
	}
}

.pwdTips{
	text-align:center;
	display:none;
	span{
		font-size: 24px;
		color:#ea5920;
	}
}
.pwdTipsOn{
	display:block;
}

.pwdBtn{
	position:absolute;
	left:0;
	bottom:0.4rem;
	display:none;
	text-align:center;
	width:100%;
	padding:0 0.3rem;
	.btn{
		width: 5.6rem;
		height:0.84rem;
		background:#ffffff;
		border:0.01rem solid #d1d1d1;
		color:#878787;
		font-size: 32px;
		border-radius:0.3rem;
		outline: none;
	}
	.btnOn{
		border:0.01rem solid #ea5920;
		color:#ea5920;
		&:active{
			background:#ea5920;
			color:#ffffff;
		}
	}
}
.pwdBtnOn{
	display:block;	
}

.unknowTips{
	display:none;
	text-align:right;
	color:blue;
	padding:0.1rem 15%;
}
.unknowTipsOn{
	display:block;
}

.keyBox{
	width:100%;
	position:absolute;
	bottom:1.58rem;
	left:0;
	padding:0 0.3rem;
	display:flex;
	flex-wrap:wrap;
	.key{
		width:33.3%;
		border:0;
		text-align: center;
		i{
			text-align: center;
			display: inline-block;
			width: 1rem;
			height: 1rem;
			border-radius:50%;
			line-height: 1rem;
			font-size: 32px;
			font-weight: bold;
			vertical-align: middle;
			&:active{
				background:#ebeaea
			}
		}
		&:nth-child(10){
			i{
				display: none;
			}
		}
		&:last-child{
			i{
				background-image:url(../images/public/X4.png);
				background-repeat:no-repeat;
				background-position:center;
			}
			
		}
	}	
}

/*错误提示框*/
.alertBox{
	position:absolute;
	top:0;
	left:0;
	z-index:999;
	width:100%;
	height:100%;
	box-sizing:border-box;
	padding:0.5rem;
	background:rgba(192,192,192,0.5);
	display:none;
	.alertMes{
		background:#f5f5f5;
		border-radius:0.1rem 0.1rem 0 0;
		border-bottom:0.01rem solid #d1d1d1;
		box-sizing:border-box;
		padding:0 0.4rem;
		margin-top:3.3rem;
		span{
			font-size:28px;
			height: 1.38rem;
			display:flex;
			justify-content: center;
			align-items:center;
			color: #333333;
		}
		.errPwd{
			font-size:24px;
			height: 1.58rem;
		}
	}
	.alertMoreMes{
		span{
			font-size: 24px;
		}
	}
	.operBtn{
		background:#f5f5f5;
		border-radius:0 0 0.1rem 0.1rem;
		box-sizing:border-box;
		padding:0 0.4rem;
		.longtime{
			height: 0.82rem;
			text-align: center;
			display: none;
			span{
				display: block;
				color:#ea5920;
				font-size: 28px;
				line-height: 0.82rem;
			}
		}
		.pwdError{
			color:#ea5920;
			font-size: 28px;
			height: 0.82rem;
			line-height: 0.82rem;
			display: none;
			span{
				display: inline-block;
				box-sizing:border-box;
				width:50%;
				height: 100%;
				text-align: center;
				border-right:0.01rem solid #d1d1d1;
			}
			i{
				display: inline-block;
				box-sizing:border-box;
				width:50%;
				height: 100%;
				text-align: center;
			}
		}
		.btnOn{
			display:block;
		}
	}
}
.alertBoxOn{
	display:block;
}