@charset "utf-8";

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-style: normal;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing:border-box;
}
html,body{
	height: 100%;
	width: 100%;
}
/*浮动*/
.left{
	float:left;
}
.right{
	float:right;
}
/*清除浮动*/
.clear:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}


/*重置密码*/

.titleBox{
	text-align:center;
	padding-top:1.5rem;
	padding-bottom:1.16rem;
	h2{
		font-size: 32px;
		font-weight: bold;
	}
}
.resetBox{
	.remember{
		display: flex;
		flex-direction: column;
		.reIcon{
			text-align: center;
			i{
				display: inline-block;
				width:1rem;
				height: 1rem;
				background-image: url(../images/public/jdmm2.png);
				background-repeat:no-repeat;
				background-position:center;
				background-size:100% 100%;
				&:active{
					background-image: url(../images/public/jdmm1.png);
				}
			}
		}
		span{
			font-size: 28px;
			color:#ea5920;
			text-align: center;
		}

	}
	.forget{
		margin-top:1rem;
		display: flex;
		flex-direction: column;
		.forgetIcon{
			text-align: center;
			i{
				display: inline-block;
				width:1rem;
				height: 1rem;
				background-image: url(../images/public/wjmm2.png);
				background-repeat:no-repeat;
				background-position:center;
				background-size:100% 100%;
				&:active{
					background-image: url(../images/public/wjmm1.png);
				}
			}
		}
		span{
			font-size: 28px;
			text-align: center;
		}
	}
}